*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6;
  overflow-x: hidden; }

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr) min-content repeat(4, 1fr);
  grid-template-rows: 2fr 8.5rem 1fr;
  margin: 0 auto 0 auto; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr 1fr 50vh 1fr 50vh; } }

.logo {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  height: 20px; }

.arrow {
  margin-left: 4rem;
  cursor: pointer; }

.navigation {
  background: url("../img/desktop-image-hero-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 8;
  grid-row: 1 / 3; }
  @media only screen and (max-width: 62.5em) {
    .navigation {
      grid-column: 1 / -1;
      grid-row: 1 / 1;
      min-height: 60vh;
      position: relative; } }
  .navigation__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    padding: 1rem;
    margin-top: 5rem;
    cursor: pointer;
    color: white; }
    @media only screen and (max-width: 62.5em) {
      .navigation__list {
        justify-content: center;
        width: 100%; } }
  .navigation__item:hover {
    border-bottom: 2px solid white; }
  @media only screen and (max-width: 62.5em) {
    .navigation__item {
      display: none; } }

.t-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
  grid-column: 8 / -1;
  width: 100%;
  padding: 10rem; }
  @media only screen and (max-width: 62.5em) {
    .t-content {
      margin: 3rem 5rem 3rem 5rem;
      padding: 4rem;
      width: 80%;
      grid-column: 1/ -1;
      grid-row: 2 / 3; } }
  .t-content__t-container {
    position: relative; }
  .t-content__main-title {
    line-height: 48px;
    letter-spacing: -0.029em;
    font-size: 4.2rem;
    font-weight: 600;
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 62.5em) {
      .t-content__main-title {
        font-size: 3.5rem;
        line-height: 35px; } }
  .t-content__p {
    color: #a1a1a1;
    margin-bottom: 1.5rem; }
  .t-content__btn-shop {
    font-size: 18px;
    border: 0;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.1rem;
    cursor: pointer;
    transition: transform 1s ease;
    transition: all 0.3s; }
    .t-content__btn-shop:hover {
      color: #a1a1a1; }
    @media only screen and (max-width: 62.5em) {
      .t-content__btn-shop {
        line-height: 1.8;
        font-size: 1.8rem; } }
  .t-content__btn-scroll--left, .t-content__btn-scroll--right {
    grid-row: 2 / 3;
    height: 85px;
    width: 110px;
    background-color: black;
    border: 0;
    cursor: pointer;
    transition: transform 1s ease;
    transition: all 0.3s; }
    .t-content__btn-scroll--left:hover, .t-content__btn-scroll--right:hover {
      background-color: #454545; }
    @media only screen and (max-width: 62.5em) {
      .t-content__btn-scroll--left, .t-content__btn-scroll--right {
        display: none; } }
  @media only screen and (max-width: 62.5em) {
    .t-content__btn-scroll--left-mob, .t-content__btn-scroll--right-mob {
      grid-row: 2 / 3;
      height: 75px;
      width: 110px;
      background-color: black;
      border: 0;
      cursor: pointer;
      transition: transform 1s ease;
      transition: all 0.3s; }
      .t-content__btn-scroll--left-mob:hover, .t-content__btn-scroll--right-mob:hover {
        background-color: #454545; } }
  .t-content__btn-scroll--right {
    grid-column: 9 / 10; }
  .t-content__btn-scroll--left {
    grid-column: 8 / 9; }

.scroll-btn-container {
  display: flex;
  grid-row: 2 / 3; }
  @media only screen and (max-width: 62.5em) {
    .scroll-btn-container {
      position: absolute;
      bottom: 0;
      right: 0; } }

.bottom-section {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr; }
  .bottom-section__img-dark {
    background: url("../img/image-about-dark.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 3/3;
    grid-column: 1/5; }
    @media only screen and (max-width: 62.5em) {
      .bottom-section__img-dark {
        grid-row: 3/4;
        grid-column: 1 /-1; } }
  .bottom-section__img-light {
    background: url("../img/image-about-light.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 3/3;
    grid-column: 9 / -1; }
    @media only screen and (max-width: 62.5em) {
      .bottom-section__img-light {
        grid-row: 5/-1;
        grid-column: 1/-1; } }

.furniture {
  display: flex;
  flex-direction: column;
  padding: 7rem;
  margin: 0 auto 0 auto;
  grid-row: 3/3;
  grid-column: 5/10; }
  @media only screen and (max-width: 62.5em) {
    .furniture {
      grid-column: 1 / -1;
      grid-row: 4 / 5; } }
  .furniture__secondary-title {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 40px;
    letter-spacing: 0.373em;
    font-weight: 700; }
    @media only screen and (max-width: 62.5em) {
      .furniture__secondary-title {
        font-weight: 800;
        font-size: 14px;
        line-height: 43px; } }
  .furniture__p {
    color: #a1a1a1;
    width: 75%; }
    @media only screen and (max-width: 62.5em) {
      .furniture__p {
        width: 90%; } }

.mobile-nav {
  display: none; }
  @media only screen and (max-width: 62.5em) {
    .mobile-nav {
      display: block;
      position: fixed;
      cursor: pointer;
      left: 5%;
      top: 5%;
      z-index: 6; } }
  .mobile-nav .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px; }

@media only screen and (max-width: 62.5em) {
  .scroll-btn-mobile-container {
    grid-column: 10 / -1;
    grid-row: 1 / 1;
    z-index: 999;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0; } }

.attribution {
  grid-row: 6 / 8;
  grid-column: 6 / 8; }
