// COLOR VARIABLES
$color-dark-gray: hsl(0, 0%, 63%);
$color-very-dark-gray: hsl(0, 0%, 27%);
$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 0%, 100%);

// FONT VARIABLES
$font-primary: 'Spartan',
sans-serif;
$font-secondary: 'Sans-serif';


// GENERAL

// - Mobile: 375px
// - Desktop: 1440px


// RESPONSIVE BREAKPOINTS
$bp-larger: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    // font-size: 50%;
  }

  @media only screen and (max-width: $bp-medium) {
    // font-size: 40%;
  }

  @media only screen and (max-width: $bp-small) {
    // font-size: 35%;
  }

}

body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6;
  overflow-x: hidden;

  // position: relative;


}

.container {

  // max-width: 1440px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2fr 1fr min-content;
  // border: 1px solid black;
  margin: 0 auto 0 auto;
  
}

.logo {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  height: 20px;


}

.arrow {
  margin-left: 4rem;
  cursor: pointer;
}

.navigation {

  background: url('/img/desktop-image-hero-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 8;
  grid-row: 1 / 1;




  &__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    padding: 1rem;
    margin-top: 5rem;
    cursor: pointer;
    color: $color-white;


  }

  &__item {}

  &__link {}


}

.t-content {
  
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0 auto 0 auto;
  grid-column: 8 / -1;
  width: 65%;
  
  
  

  &__main-title {

    line-height: 48px;
    letter-spacing: -0.029em;
    font-size: 4.2rem;
    margin-bottom: 2.5rem;
  }

  &__p {
    color: $color-dark-gray;
    margin-bottom: 1.5rem;
  }

  &__btn-shop {
    font-size: 18px;
    border: 0;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.1rem;
    cursor: pointer;

  }

}


.attribution {

  grid-row: 6 / 8;
  grid-column: 6 / 8;


}